body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f2f3f5;
}

.App {
  height: 100%
}

a {
  color: #34495e;
  text-decoration: none;
}

.main-card {
  margin: 30px 0;
}

.news-item {
  border-bottom: 1px solid #eee;
}

.main-card a {
  cursor: pointer;
}

.view {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.view-comments {
  margin-top: 10px;
}

.comment-children {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.comment .by {
  color: #828282;
}

.comment .by a {
  color: #828282;
}

.comment .toggle.open {
  padding: 0;
  background-color: transparent;
  margin-bottom: -.5em;
}

.comment .by .toggle a {
  color: #828282;
  cursor: pointer;
  text-decoration: none;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: center;
}
