body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EEEEEE;
}

.App {
  height: 100%
}

a {
  color: #34495e;
  text-decoration: none;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: center;
}
